*{
  margin: 0;
  padding: 0;
  color: white;
}
.navbar {
  background-color: #333;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0 10px; /* Add margin between list items if needed */
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    text-align: center;
  }

  .navbar ul li {
    margin: 10px 0; /* Add spacing between vertically stacked items */
  }
}
/* Existing styles for .navbar */

.footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure the footer is above other elements */
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

