*{
  margin: 0;
  padding: 0;
  color:black;
}
.navbar {
  background-color: #0d78e373;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0 10px; /* Add margin between list items if needed */
}
a{
  text-decoration: none;
}
.navbar .leftNav{
  font-size: 23px;
  padding-left: 20px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    text-align: center;
  }

  .navbar ul li {
    margin: 10px 0; /* Add spacing between vertically stacked items */
  }
}
.svg{
  height: 24px;
  width: 24px;
  
}
/* Existing styles for .navbar */

.footer {
  background-color: #0d78e373;
  color: black;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure the footer is above other elements */
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.contact-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input,
textarea {
  margin-bottom: 15px;
  padding: 10px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #0056b3;
}
